{
  "calendar_config": [
    {
      "description": "Name of org",
      "organisation_ids": [1],
      "calendar_id": "google calendar id"
    },
    {
      "description": "Name of org",
      "organisation_ids": [2, 3],
      "calendar_id": "google calendar id"
    }
  ],
  "EventorApiKey": "Add Eventor API key here",
  "HostAddress": "https://write.it.here.com"
}